body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: x-large;
    align-self: center;
    padding-top: 3vw;
}

#grid_container {
    display: flex;
    justify-content: space-around;
    padding-top: 4vw;
    padding-bottom: 2vw;
}

#reset_bt {
    width: 10vw;
    align-self: center;
}

#container {
    width: 40vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(var(--numOfTilesInRow), 1fr);
    grid-template-rows: repeat(var(--numOfTilesInRow), 1fr);
    border: black 1px solid;
}

.paint {
    background-color: rgb(0, 0, 0);
}

